@import url('https://fonts.googleapis.com/css?family=Amaranth&display=swap');

// @fontFamilyHeadings: @fontFamilyCambria; //"serif";
@fontFamilyBody:     @fontFamilyVerdana; //"sans-serif";
@fontFamilyCode:     @fontFamilyCourier; //"monospace";

@fontFamilyHeadings: "Amaranth", sans-serif; //"sans-serif";

@colorBody: #fff;
@colorFooter: #fff;
@bgColorBody: #0f0;
@bgColorHtml: #f0f;
@accentBgColor: #ff0;
@accentFontColor: #fff;
@bylineBorderColor: #ff0;
@bgColorCodeInline: #333;

h1, h2, h3, h4 {
    font-family: @fontFamilyHeadings;
}
