@import url('https://fonts.googleapis.com/css?family=Yantramanav&display=swap');

@fontFamilyHeadings: @fontFamilyCambria; //"serif";
// @fontFamilyBody:     @fontFamilyVerdana; //"sans-serif";
@fontFamilyCode:     @fontFamilyCourier; //"monospace";

@fontFamilyBody:     "Yantramanav", sans-serif; //"sans-serif";

@colorHeader: #fff;
@colorBody: #fff;
@colorFooter: #fff;

@bgColorHtml: #555;
@bgColorHeader: darken(@bgColorHtml, 10%);
@bgColorBody: #333;

@accentBgColor: #888;
@accentFontColor: #fff;

@bgColorByline: @accentBgColor;
@borderColorByline: darken(@accentBgColor, 10%);

@bgColorCodeInline: #333;

h1, h2, h3, h4 {
    font-family: @fontFamilyBody;
}
