@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

@fontFamilyHeadings: @fontFamilyCambria; //"serif";
// @fontFamilyBody:     @fontFamilyVerdana; //"sans-serif";
@fontFamilyCode:     @fontFamilyCourier; //"monospace";

@fontFamilyBody:     "Kanit", sans-serif; //"sans-serif";

@colorBody: #333;
@colorFooter: #fff;
@bgColorBody: #fff;
@bgColorHtml: #ff9000;
@accentBgColor: #ccc;
@accentFontColor: #333;
@bylineBorderColor: #888;
@bgColorCodeInline: #eee;

h1, h2, h3, h4 {
    font-family: @fontFamilyBody;
}
