/**
 * Layout for responsive style through media queries.
 */

@media screen and (max-width: 1500px) {
    .site-logo {
        display: none;
    }
}



/**
 * Navbar responsive
 */

@media screen and (max-width: 1010px) {
    .rm-desktop a {
        padding: 1em 10px;
    }
}

@media screen and (max-width: 900px) {
    .rm-desktop a {
        padding: 1em 5px;
    }
}

@media screen and (max-width: 700px) {
    .rm-desktop {
        display: none;
    }
}



/**
 * Main responsive
 */
@media screen and (max-width: 650px) {
    .inner-wrap {
        &.inner-wrap-main {
            max-width: 90%;
        }
    }
}

@media screen and (max-width: 750px) {
    .region-main,
    .region-sidebar-left,
    .region-sidebar-right {
        max-width: 90%;
        width: unset;
        float: none;
    }
}



/**
 * Footer responsive
 */
@media screen and (max-width: 440px) {
    .footer-column-1,
    .footer-column-2,
    .footer-column-3 {
        max-width: 100%;
    }

    .footer-column-1 {
        float: none;
        margin-right: unset;
    }

    .footer-column-2 {
        float: none;
    }

    .footer-column-3 {
        float: none;
        margin-left: unset;
    }

}
